.borda{
	border-width: 5px;
	border-style: solid;
	border-color: red green blue yellow;
	border-radius: 5px;
}

.quadrado{
	width: 100px;
	height: 100px;
	background-color: yellow;
	border-radius: 50%;
}

.dotted{
	border-style: dotted;
}

.dashed{
	border-style: dashed;
}

.solid{
	border-style: solid;
}

.none{
	border-style: none;
}

.hidden{
	border-style: hidden;
}

.modoSimples{
	border: 5px dashed blue;
}