#titulo{
	color: red;
	text-align: center;
	font-size: 20px;
}

#texto{
	color: red;
	text-align: justify;
	/*text-align: left;*/
	/*text-align: right;*/
}

#titulo2{
	color: red;
	text-align: center;
	font-size: 20px;
}

#texto2{
	color: red;
	text-transform: uppercase;
	/*text-transform: lowercase;*/
	/*text-transform: capitalize;*/
}

#titulo3{
	color: red;
	text-align: center;
	font-size: 20px;
}

#texto3{
	color: red;
	text-indent: 29px;
}

#titulo4{
	color: red;
	text-align: center;
	font-size: 20px;
}

#texto4{
	color: red;
	text-indent: 29px;
	text-decoration: underline line-through overline;
}

a{
	text-decoration: none;
}

#titulo5{
	color: red;
	text-align: center;
	font-size: 20px;
}

#texto5{
	color: red;
	text-indent: 29px;
	/*letter-spacing: 1.2px;*/
	word-spacing: 5px;
}

#titulo6{
	color: red;
	text-align: center;
	font-size: 20px;
}

#texto6{
	color: red;
	text-indent: 29px;
	line-height: 2;
}

#titulo7{
	color: red;
	text-align: center;
	font-size: 20px;
}

#texto7{
	color: red;
	text-indent: 29px;
	text-shadow: 2px 2px 5px black;
}